@charset "UTF-8";
@import 'normal.css';
.container{
    border: 2px solid black;
    width: 1200px;
    margin: 0 auto;
    color: floralwhite;
    font-family: Arial, sans-serif;
}
.banner{
    background: url("../img/background1.jpg") no-repeat center top /cover;
    padding-bottom: 230px;
}
nav{
    padding-top:20px;
}
nav > img{
    width: 60px;
}
menu{
    float: right;
}
menu li{
    display: inline-block;
    margin-left: 50px;
}
menu a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}
menu > li:hover{
    border-bottom: 3px solid indigo;
    padding-bottom: 10px;
}
menu a:hover{
    color: indigo;
    cursor: pointer;
    animation: li_a 0.5s ease-in-out;
}
@keyframes li_a{
    100%{
        box-shadow: 0 0 10px indigo;
    }
}
header{
    margin-top: 170px;
    text-align: center;
    line-height: 100px;

}
header::after{
content: '';
width: 100px;
height: 6px;
display: block;
margin: 0 auto;
background-color: indigo;
box-shadow: 0 0 15px white;
}
h1{
    text-transform: uppercase;
    line-height: 100px;
    font-size: 100px;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
span {
    color: indigo;
    text-shadow: 0 0 15px white;
    font-size: 140px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: 72px;
    font-weight: normal;
    margin-top: 50px;
}
.navbotton{
    width: 300px;
    display: block;
    margin: 80px auto;
    text-align: center;
}
.navbotton a{
    border: 3px solid floralwhite;
    font-size: 20px;
    padding: 10px 20px;
    color: floralwhite;
    text-decoration: none;
}
.navbotton :hover {
    background-color: #ffffff ;         
    color:indigo;
    animation: navbotton 0.5s ease-in-out;
}
@keyframes navbotton{
    100%{
        box-shadow: 0 0 20px #ffffff;
    }
}
h3{
    font-size: 48px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    margin-top: 15px;
    font-family: Arial, sans-serif;

}
h3::after{
    content: '';
    width: 60px;
    height: 3px;
    background:red ;
    display: block;
    margin: 10px auto 15px;
}
h4{
   font-size: 24px;
   font-weight: normal; 
   color:  #333333;
   font-family: Arial, sans-serif;
}
.title{
    text-align: center;
    padding-top: 85px;
}
.aboutus p{
    text-align: center;
    color: #999999;
    widows: 970px;
    margin: 45px auto 60px;
    font-size: 15px;
    line-height: 24px;
}
.aboutus_img{
    margin: 0 auto 60px;
    text-align: center;
}
.aboutus_img img{
    margin-right: 25px;
    width: 375px;
}
.aboutus_img :last-child{
    margin-right: 0;
}
.title{
    padding-top: 0;
}
.services_items{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 15px auto 0;
    padding-bottom: 50px;
}
.service_item{
    display: inline-block;
    text-align: center;
    margin-right: 70px;
    margin-top: 20px;
}
.item_icon{
    display: inline-block;
    margin-right: 20px;
}
.item_title{
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    width: 280px;
    text-align: left;
    display: inline-block;
    vertical-align: top ;
}
.item_title p{
    margin: 0;
}
h5{
    font-style: 14px;
    color: #333333;
    margin: 0;
    text-transform: uppercase;
}
@media screen and (max-width:360px){
    nav>img{
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    .banner{
        padding-bottom: 15px;
    }
    .container{
        width: 300px;
        margin: 0 auto;
    }
    menu li{
        display: block;
        margin-left: 0;
        padding-top: 10px;
    }
    menu{
        float: none;
        margin: 0 auto;
        text-align: center;
        padding-inline-start: 0;
    }
    .aboutus p{
        text-align: center;
        color: #999999;
        widows: 200px;
        margin: 15px auto 15px;
        font-size: 12px;
        line-height: 24px;
    }
    .aboutus_img{
        margin-bottom: 10px;
    }
    .aboutus_img img{
        margin-right: 25px;
        width: 300px;

    }
    h1{
        line-height: 15px;
        font-size: 20px;   
        word-wrap: normal;
        margin: 0 auto 15px;
    }
    span {
        font-size: 20px;
    }
    h2{
        font-size: 17px;
    }
    header::after{
        margin: 10px auto 15px;
        width: 50px;
        height: 3px;
        
    }
    header{
        line-height: 20px;
        margin-top: 50px;
        margin-bottom: 0;
    }
    .navbotton{
        width: 60px;
    }
    .navbotton a {
        font-size: 9px;
        padding: 5px 3px;
    }
    h3{
        font-size: 15px;
    }
    h3::after{
        margin-top: 15px;
        margin-bottom: 10px;
        width: 40px;

    }
   .title{
        padding-top: 15px;
    }
    h4{
        font-size: 17px;
         margin-bottom: 15px;
    }
    .services_items{
        margin: 20px auto 0;
    }
    .service_item{
        display:block;
        text-align: center;
        margin-right: 10px;
        margin-top: 5px;
    }   
    .item_icon{
        width: 25px;
    }
    h5{
        font-size: 10px;
    }
    .item_title p{
        font-size: 10px;
    }
}

